.array-container {
    height: 100vh;
    display: flex;
    align-items: baseline;
    
}

.array-bar {
    width: 4.5px;
    display: inline-block;
    margin: 0 1px;
}

.menu-bar {
    background-color: grey;
    display: flex;
    align-items:center;

}

/*.array-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

OG
.array-container {
  position: absolute;
  left: 100px;
}
*/